
.grid h3{
    text-align: center;
    font-size: 30px;
    color: #333;
    padding-bottom: 20px;
}
.contents {
    padding: 50px;
    text-align: center;
  }
  .paragraph{
    font-size: 20px;
  }
  .contents h3 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
  }
  
  .contents .grid div {
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contents .grid div img {
    border-radius: 10px;
  }