.HomeinfoHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.card{
 flex: 0.5; 
align-items: center;
margin: 50px 50px 20px;
margin-top: 30;
width: 220px;
height: 190px;
padding: 30px;
border-radius: 10px;
cursor: pointer;
-webkit-box-shadow:0px 0px 11px -1px #000000;
box-shadow: 0px 0px 11px -1px #000000;

}
.card:hover{
    background-color: blue;
}
.homeTitle{
    margin-left: 570px;
}
.arrow{
    margin-left: 25px;
    
}
.numbers{
    color: red;
}
