.teacher{
    flex: 7;
    padding: 20px;
}
.teacherTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.teacherAddBtn{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-right: 20px;
}
.teacherContaine{
    display: flex;
    margin-top: 20px;
}
.teacherShow{
flex: 1;
padding: 20;
-webkit-box-shadow:0px 0px 11px -1px #000000;
box-shadow: 0px 0px 11px -1px #000000;
}
.teacherUpdate{
    flex: 2;
    padding: 20;
    -webkit-box-shadow:0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
    margin-left: 20px;
}
.userShowTop{
    display: flex;
    align-items: center;
}
.userShowImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 30px;
    margin-top: 5px;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUserName{
    font-weight:600;
}
.userShowUserTitle{
    font-weight: 300;
}